# Don't track these folders
VESPUP Analysis/
.idea/
.ipynb_checkpoints/
__pycache__/
Figures/
Results/
Snapshots/
node_modules/
venv/
DATA/
.vscode/
Doc/_build

# Don't track these files
*-lock.json
static/css/main.css
.env
tcat_app/tcat.db

# ignore, can be generated with create_client_secrets_from_env.py ./tcat_app/client_secrets.json ./tcat_app/.env
client_secrets.json
Doc/_build/
my_*.json
