{% macro checkbox(name, checked) -%}
    <input type="checkbox" name="{{ name }}" {{ checked }} class="checkbox" />
{%- endmacro %}

{% macro select(name, selectedValue, values) -%}
    <select class="select select-sm max-w-xs" name="{{ name }}" data-selected="{{ selectedValue }}">
    {% for val in values %}
        <option value="{{ val }}">{{ val }}</option>
    {% endfor %}
    </select>
{%- endmacro %}

{% macro input(name, type, value, required, validation, error) -%}
    <div class="flex flex-col gap-2">
    {% if error != None %}
        <p class="text-red-700 dark:text-red-300">{{ error }}</p>
    {% endif %}
    {% if type == 'number' %}
        <input class="flex-grow-0 bg-white dark:bg-gray-900 text-black dark:text-gray-300 rounded-lg px-2" type="{{ type }}" name="{{ name }}" min="{{ validation[0] }}" max="{{ validation[1] }}" value="{{ value }}" {{ required }}>
    {% elif type == 'datetime-local' %}
        <input class="text-input-validated flex-grow-0 bg-white dark:bg-gray-900 text-black dark:text-gray-300 rounded-lg px-2" type="{{ type }}" name="{{ name }}" value="{{ value }}" {% if validation != None %} min="{{ validation[0] }}" max="{{ validation[1] }}"  {% endif %} {{ required }}>
    {% else %}
        <input class="text-input-validated flex-grow-0 bg-white dark:bg-gray-900 text-black dark:text-gray-300 rounded-lg px-2" type="{{ type }}" name="{{ name }}" value="{{ value }}" {% if validation != None %} data-validation="{{ validation }}" {% endif %} {{ required }}>
    {% endif %}
    </div>
{%- endmacro %}