{% macro scenario_run(config_run, active) -%}
    <div class="flex-grow flex flex-row gap-4 m-4">
        {% if not active %}
            {% set back_color = 'bg-success' if config_run.finished_date != None else 'bg-error' %}
        {% else %}
            {% set back_color = 'bg-info' %}
        {% endif %}
        <div class="flex-grow flex flex-row justify-between align-center rounded-lg {{ back_color }}">
            <div class="flex-grow flex flex-row gap-4 font-medium align-middle">
                <div class="align-middle p-4">
                    Scenario id: {{ config_run.configuration.scenario_id }}
                </div>
                <div class="align-middle p-4">
                    Scenario name: {{ config_run.configuration.scenario_name }}
                </div>
                <div class="align-middle p-4">
                    Status: {{ config_run.status }}
                </div>
                <div class="align-middle p-4">
                    Started: {{ config_run.started_date.strftime("%m/%d/%Y, %H:%M:%S") }}
                </div>
                {% if active %}
                    {% if config_run.failed_date != None %}
                        <div class="align-middle p-4">
                            Failed: {{ config_run.failed_date.strftime("%m/%d/%Y, %H:%M:%S") }}
                        </div>
                    {% endif %}
                    {% if config_run.finished_date != None %}
                        <div class="align-middle p-4">
                            Finished: {{ config_run.finished_date.strftime("%m/%d/%Y, %H:%M:%S") }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex flex-col justify-center p-2">
                <div class="badge badge-lg">{{ config_run.configuration.scenario }}</div>
            </div>
        </div>
        <div class="flex flex-col">
            <a class="btn btn-primary h-full" href="{{ url_for('status', config_run_id=config_run.id) }}">View</a>
        </div>
    </div>
{%- endmacro %}