{% macro scenario_run(config_run, active) -%}
    <div class="flex-grow flex flex-row gap-4 m-4">
        {% if not active %}
            {% set back_color = 'bg-green-200 dark:bg-green-900' if config_run.finished_date != None else 'bg-red-200 dark:bg-red-900' %}
        {% else %}
            {% set back_color = 'bg-purple-200 dark:bg-purple-900' %}
        {% endif %}
        <div class="flex-grow flex flex-row gap-4 font-medium text-black dark:text-gray-300 align-middle rounded-lg {{ back_color }}">
            <div class="align-middle p-4">
                Scenario id: {{ config_run.configuration.scenario_id }}
            </div>
            <div class="align-middle p-4">
                Scenario name: {{ config_run.configuration.scenario_name }}
            </div>
            <div class="align-middle p-4">
                Status: {{ config_run.status }}
            </div>
            <div class="align-middle p-4">
                Started: {{ config_run.started_date.strftime("%m/%d/%Y, %H:%M:%S") }}
            </div>
            {% if active %}
                {% if config_run.failed_date != None %}
                    <div class="align-middle p-4">
                        Failed: {{ config_run.failed_date.strftime("%m/%d/%Y, %H:%M:%S") }}
                    </div>
                {% endif %}
                {% if config_run.finished_date != None %}
                    <div class="align-middle p-4">
                        Finished: {{ config_run.finished_date.strftime("%m/%d/%Y, %H:%M:%S") }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <a class="flex-grow-0 p-4 text-center dark:text-gray-300 text-white bg-red-400 dark:bg-red-700 hover:bg-red-600 dark:hover:bg-red-900 rounded-lg font-semibold" href="{{ url_for('status', config_run_id=config_run.id) }}">View</a>
    </div>
{%- endmacro %}