[Unit]
Description=uWSGI instance to serve tcat-app
After=network.target
[Service]
User=root
Group=www-data
Restart=always
WorkingDirectory=/app
ExecStart=/usr/local/bin/uwsgi --ini /app/wsgi.ini
[Install]
WantedBy=multi-user.target