{% macro configure(action_url, action_from_file_url, inputparams, forms, last_configuration, last_run_for_configuration, validation_errors, highlight_params, show_act_input) -%}
    <div class="flex flex-col 2xl:flex-row gap-4 md:gap-8">
        <div class="flex-grow flex flex-col gap-4 md:gap-8 max-w-full 2xl:max-w-1/2 bg-base-200 shadow-xl p-2 md:p-4 lg:p-6 rounded-lg">
            <h2 class="font-bold text-lg">Configure</h2>
            <form id="config-form" method="post" action="{{ action_url }}" enctype="multipart/form-data"
                  class="flex-grow rounded-lg">
                {% for key in inputparams.keys() %}
                    <div class="group flex flex-col p-2 lg:p-6">
                        <p class="flex-grow-0 text-base lg:text-lg">{{ key[1] }}</p>
                        <div class="flex flex-col gap-2">
                            {% for input in inputparams[key] %}
                                <div class="flex-grow md:flex-grow-0 flex flex-row m-2 gap-2">
                                    {% set fs = 'italic font-light' if (input[4] == None) else 'font-semibold' %}
                                    {% set required = '' if (input[4] == None) else 'required' %}
                                    {% set last_value = None if last_configuration == None else last_configuration[input[2]] %}
                                    {% set value = last_value if last_value != None else (input[4] if input[4] != None else '') %}
                                    {% set error = None if (validation_errors == None or input[2] not in validation_errors) else validation_errors[input[2]] %}
                                    <label for="{{ input[2] }}"
                                           class="flex-grow">{{ input[3] }}</label>
                                    {% if input[0] == 'input' %}
                                        {{ forms.input(input[2], input[1], value, required, input[5], error, input[2] in highlight_params) }}
                                    {% elif input[0] == 'select' %}
                                        {{ forms.select(input[2], value, input[5], input[2] in highlight_params) }}
                                    {% elif input[0] == 'checkbox' %}
                                        {% set checked = 'checked' if value == True else '' %}
                                        {{ forms.checkbox(input[2], checked, input[2] in highlight_params) }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </form>
            <div class="flex-grow-0 flex flex-col md:flex-row justify-between gap-4 md:gap-8">
                <form id="tcat-file-select-form" method="post" action="{{ action_from_file_url }}?type=tcat"
                      enctype="multipart/form-data"
                      class="flex-grow-0 md:flex-grow-0 btn btn-secondary">
                    <input class="hidden tcat-file-input cursor-pointer" type="file" id="tcat-file" name="file">
                    <label for="tcat-file" class="text-center font-semibold cursor-pointer">Import TCAT Config</label>
                </form>
                {%  if show_act_input == True  %}
                    <form id="act-file-select-form" method="post" action="{{ action_from_file_url }}?type=act"
                          enctype="multipart/form-data"
                          class="flex-grow-0 md:flex-grow-0 btn btn-secondary">
                        <input class="hidden" type="text" id="act-file-config-name" name="act-config-name" value="">
                        <input class="hidden act-file-input cursor-pointer" type="file" id="act-file" name="file">
                        <label for="act-file" class="text-center font-semibold cursor-pointer">Import ACT Config</label>
                    </form>
                {% endif %}
                <button id="reset-config" class="btn btn-active btn-danger">Reset</button>
                <button id="upload-data" class="btn btn-active btn-primary">Upload</button>
            </div>
        </div>
        <div class="flex-grow flex flex-col gap-4 md:gap-8 max-w-full 2xl:max-w-1/2 bg-base-200 shadow-xl p-2 md:p-4 lg:p-6 rounded-lg">
            <div class="flex flex-row justify-between align-center"><h2 class="font-bold text-lg flex flex-col justify-center">Results</h2><a class="btn" href="/status">See detailed results</a></div>
            <div class="flex-grow flex flex-col gap-2 md:gap-4 rounded-lg">
                <button id="loading-spinner" class="hidden btn loading">loading</button>
                <div id="image-container" class="hidden flex-grow flex flex-col gap-4 p-4"></div>
            </div>
            <div class="flex-grow md:flex-grow-0 flex flex-row gap-2 justify-center md:justify-end">
                {% set enabled = 'disabled' if last_configuration == None else '' %}
                <button id="run-config" class="btn btn-active btn-primary" {{ enabled }}>Run</button>
            </div>
        </div>
    </div>
    <div>
        <input type="checkbox" id="config-names-modal" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box relative flex flex-col gap-6">
            <label for="config-names-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">Select a configuration</h3>
            <select class="select w-full max-w-xs" id="config-name-selection">
            </select>
            <button class="btn btn-primary" id="submit-config-name-selection">Submit</button>
          </div>
        </div>
    </div>
{%- endmacro %}

{% macro configure_script(scenario, last_run_for_configuration, action_url, is_reset) -%}
    <script>
        const submitConfigNameSelection = document.querySelector('#submit-config-name-selection');
        const configNamesModal = document.querySelector('#config-names-modal');
        const configNameSelection = document.querySelector('#config-name-selection');
        const tcatFileInput = document.querySelector('.tcat-file-input');
        const actConfigNameInput = document.querySelector('#act-file-config-name');
        const actFileInput = document.querySelector('.act-file-input');
        const tcatFileSelectForm = document.querySelector('#tcat-file-select-form');
        const actFileSelectForm = document.querySelector('#act-file-select-form');
        const validatedTextInputs = document.querySelectorAll('.text-input-validated');
        const selectInputValue = document.querySelectorAll('.select-input-value');
        const uploadData = document.querySelector('#upload-data');
        const configForm = document.querySelector('#config-form');
        const loadingSpinner = document.querySelector('#loading-spinner');
        const runConfig = document.querySelector('#run-config');
        const inputs = document.querySelectorAll('input, select');
        const resetConfig = document.querySelector('#reset-config');
        const alreadyRunConfig = {{ 'true' if last_run_for_configuration != None else 'false' }};

        let changed = false;
        uploadData.disabled = {{ 'true' if is_reset == False else 'false' }};

        const url = window.location.href;
        if(url.includes('?')){
            window.history.replaceState({}, document.title, '{{ action_url }}');
        }

        configNamesModal.checked = false;

        if (location.hash === '#runconfig') {
            location.hash = '';
            confirmRerunConfig(undefined);
        }

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('change', enableUpload);
        }

        if (selectInputValue && selectInputValue.length > 0) {
            for (let i = 0; i < selectInputValue.length; i++) {
                selectInputValue[i].value = selectInputValue[i].dataset.selected;
            }
        }

        if (validatedTextInputs && validatedTextInputs.length > 0) {
            for (let i = 0; i < validatedTextInputs.length; i++) {
                validatedTextInputs[i].addEventListener('input', (e => {
                    let regex = new RegExp(e.target.dataset.validation, 'g');
                    let validInput = regex.test(e.target.value);
                    if (validInput) e.target.classList.remove('text-red-700', 'dark:text-red-300');
                    else e.target.classList.add('text-red-700', 'dark:text-red-300');
                }));
            }
        }

        resetConfig.addEventListener('click', () => {
            window.location.replace('{{ action_url }}?reset=true');
        });

        submitConfigNameSelection.addEventListener('click', (e) => {
            actConfigNameInput.value = configNameSelection.value;
            configNamesModal.checked = false;
            actFileSelectForm.submit();
        });

        tcatFileInput.addEventListener('change', (e => {
            tcatFileSelectForm.submit();
        }));

        actFileInput?.addEventListener('change', (e => {
            let data = new FormData()
            data.append('file', e.target.files[0]);
            fetch('{{ url_for('get_config_names') }}', {
                method: 'POST',
                body: data
            })
            .then(response => response.json())
            .then(data => {
                configNameSelection.innerHTML = '';
                for (let i = 0; i < data.config_names.length; i++) {
                    let option = document.createElement('option');
                    option.value = data.config_names[i];
                    option.innerHTML = data.config_names[i];
                    configNameSelection.appendChild(option);
                }
                configNamesModal.checked = true;
            });
        }));

        uploadData.addEventListener('click', (e => {
            uploadConfiguration();
            e.preventDefault();
        }));

        runConfig.addEventListener('click', (e => {
            if (alreadyRunConfig && !changed) {
                openModal('Rerun configuration?', 'You already executed the entered configuration. If you want to execute it again, please confirm.', confirmRerunConfig)
            } else if (changed) {
                openModal('Upload configuration first', 'You made changes to the configuration. In order to apply these changes upload the configuration. Please confirm to upload the configuration.', (e) => {
                    location.hash = '#runconfig';
                    uploadConfiguration();
                })
            } else {
                confirmRerunConfig(undefined)
            }
            e.preventDefault();
        }));

        function uploadConfiguration() {
            configForm.submit();
        }

        function confirmRerunConfig(e) {
            //imageContainer comes from imageloader.js!
            imageContainer.innerHTML = '';
            imageContainer.classList.add('hidden');
            clearInterval(checkForPlotImagesInterval);
            let request = new XMLHttpRequest();
            request.addEventListener('load', (e) => {
                let response = JSON.parse(e.currentTarget.response);
                loadingSpinner.classList.remove('hidden');
                //checkForPlotImagesInterval comes from imageloader.js
                checkForPlotImagesInterval = setInterval(() => checkForPlotImages(response.scenario_id, response.config_run_id, () => {
                    runConfig.disabled = false;
                    loadingSpinner.classList.add('hidden');
                }), 1000);
            });
            request.open('GET', '{{ url_for('run_' + scenario) }}');
            request.send();
            runConfig.disabled = true;
        }

        function enableUpload(e) {
            changed = true;
            uploadData.disabled = false;
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].removeEventListener('change', enableUpload);
            }
        }
    </script>
    <script src="{{ url_for('static',filename='js/inputparams_kickstage_conditions.js') }}"></script>
    <script src="{{ url_for('static',filename='js/inputparams_launcher_conditions.js') }}"></script>
{%- endmacro %}
