{% import 'macros/navigation.html' as n %}
{% import 'macros/footer.html' as f %}
{% import 'macros/modal.html' as m %}
{% import 'macros/alerts.html' as a %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCAT - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body id="body">
<div class="flex flex-col min-h-screen md:w-full lg:w-4/5 mx-auto">
    <header>
        {{ n.navigation() }}
    </header>
    {{ a.alerts() }}
    <main id="content" class="flex-1 py-6 md:py-12 lg:py-16 px-4 md:px-6 lg:px-8 max-w-5x1 mx-auto w-full">
        {% block content %}{% endblock %}
    </main>
    {{ f.footer() }}
    {{ m.modal() }}
</div>
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>