{% extends 'base.html' %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/configure.html' as conf %}
{% block title %}Configure ADR{% endblock %}
{% block content %}
    {{ conf.configure(url_for('configure_adr'), url_for('configure_from_file'), inputparams.adr_mission_params, forms, last_configuration, last_run_for_configuration, validation_errors) }}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static',filename='js/imageloader.js') }}"></script>
    {{ conf.configure_script('adr', last_run_for_configuration) }}
{% endblock %}