{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container mx-auto">
        <form class="flex flex-col gap-4 md:gap-6 w-full sm:w-full md:w-1/2 2xl:w-2/5 mx-auto p-0 md:p-8 lg:p-12 ring-0 md:ring-2 ring-blue-800 dark:ring-blue-300 rounded-lg" method="post">
            <div class="flex-grow flex flex-col">
                <p class="flex-grow-0 font-bold font-sans text-black dark:text-gray-300">Username:</p>
                <input class="mt-2 flex-grow ring-2 ring-blue-500 dark:ring-blue-200 bg-white dark:bg-gray-900 text-black dark:text-gray-300 rounded-lg p-2 font-sans" type=text name=username>
            </div>
            <div class="flex-grow flex flex-col">
                <p class="flex-grow-0 font-bold font-sans text-black dark:text-gray-300">Password:</p>
                <input class="mt-2 flex-grow ring-2 ring-blue-500 dark:ring-blue-200 bg-white dark:bg-gray-900 text-black dark:text-gray-300 rounded-lg p-2 font-sans" type="password" name="password">
            </div>
            {% if error != None %}
                <p class="font-bold font-sans text-red-500 dark:text-red-300">{{ error }}</p>
            {% endif %}
            <button class="flex-grow md:flex-grow-0 p-3 text-center text-white dark:text-gray-300 bg-red-400 dark:bg-red-700 hover:bg-red-600 dark:hover:bg-red-900 rounded-lg font-semibold" type=submit>Login</button>
        </form>
    </div>
{% endblock %}