{% extends 'base.html' %}
{% import 'macros/scenario_run.html' as t %}
{% block title %}Overview{% endblock %}
{% block content %}
    <div class="flex flex-col">
        <div class="flex-grow flex flex-col gap-2">
            <p class="flex-grow-0 p-4 font-sans font-semibold">Active optimizations:</p>
            <div class="flex-grow max-h-96 overflow-auto">
                {% for active_config_run in active_config_runs %}
                    {{ t.scenario_run(active_config_run, true) }}
                {% endfor %}
            </div>
        </div>
        <div class="flex-grow">
            <p class="flex-grow-0 p-4 font-sans font-semibold">History:</p>
            <div class="flex-grow max-h-96 overflow-auto">
                {% for config_run in config_runs %}
                    {{ t.scenario_run(config_run, false) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}